$serif-stack: '"Georgia", "Times", "Times New Roman", serif';
$sans-serif-stack: '"Helvetica Neue", "Helvetica", "Arial", sans-serif';
$lato-font: 'Lato'
$unica-font: 'Unica One'
$sofia-font: 'Sofia Pro'
$raleway-font: 'Raleway'
$fjalla-font: 'Fjalla One'
$playfair-font: 'Playfair Display'

$heading-font-family: $sofia-font, #{$sans-serif-stack};
$body-font-family: $playfair-font, #{$sans-serif-stack};
